body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 10px;
    margin-bottom: 10px;
    background: linear-gradient(135deg, #e0f7fa, #fce4ec);
}

.container {
    padding: 3em;
    padding-top: 1em;
    border-radius: 20px;
    width: 100%;
    max-width: 500px;
    background: linear-gradient(135deg, #fce4ec, #e0f7fa);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.08);
    border: lightblue 1px solid;
}

h2 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 0.6em;
}

.form-group label {
    display: block;
    margin-bottom: 0.5em;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 0.8em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.password-field {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.password-field button {
    padding: 8px 10px;
    background: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"] {
    width: 100%;
    padding: 1em;
    border: none;
    border-radius: 4px;
    background-color: #5cb85c;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #4cae4c;
}

.error-message {
    color: #d9534f;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
    display: none; /* Hidden by default */
}

.success-message {
    color: #3c763d;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    padding: 15px;
    margin-top: 15px;
    border-radius: 4px;
    text-align: center;
    display: none; /* Hidden by default */
}

sup{
    color: red;
}

.form-group input:focus {
    border-color: #66afe9;
    outline: none;
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
}



